<div class="chat-container">
    <header class="chat-header">
        <button class="btn btn-danger leave">Leave Room</button>
    </header>
    <main class="chat-main">
        <div class="chat-sidebar">
            <h2 class="room-name"></h2>
            <h3 class="header-users">Users</h3>
            <ul class="users"></ul>
        </div>
        <div class="chat-messages">

        </div>
    </main>
    <div class="chat-form-container">
        <form class="chat-form">
            <input type="text" class="message" placeholder="Enter Message" autocomplete="off">
            <button class="btn">Send</button>
        </form>
    </div>
</div>



<section class="msger">
    <header class="msger-header">
        <div class="msger-header-title">
            <i class="fas fa-comment-alt"></i> SimpleChat
        </div>
        <div class="msger-header-options">
            <span><i class="fas fa-cog"></i></span>
        </div>
    </header>

    <main class="chat-main">
        <div class="chat-sidebar">
            <h2 class="room-name"></h2>
            <h3 class="header-users">Users</h3>
            <ul class="users"></ul>
        </div>
        <div class="chat-messages">

        </div>
    </main>

    <header class="msger-header">
        <form class="chat-form">
            <input type="text" class="message" placeholder="Enter Message" autocomplete="off">
            <button class="btn">Send</button>
        </form>
        <input type="text" class="msger-input" placeholder="Enter your message...">
        <button type="submit" class="msger-send-btn">Send</button>
    </header>

</section>





<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.3/qs.min.js"
    integrity="sha256-lSPkSu/D04IeqWOhTgTf5tLzNFEc37oNE9ysGS9PdK4=" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../../assets/js/chatroom.js"></script>