<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
    <title>Home</title>
</head>

</html>


<body>
    <nav class="navbar navbar-expand-lg transparent navbar-collapse navbar-dark bg-dark">
        <a class="navbar-brand logo" href="#">
            <img src="/assets/css/lovequestlogo.png" width="60" height="40"> LoveQuest
        </a>

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarHamburger">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse d-lg-none d-xl-block" id="navbarHamburger">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/homepage">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/map">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/chat" target="popup"
                        onclick="window.open('/chat','Chat','width=910,height=400')">Chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/contact">Contact Us</a>
                </li>
            </ul>
        </div>


    </nav>




    <div class="container emp-profile">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img class="profile" alt="" style="width:150px;height:150px" />

                        {{!-- folloe button --}}
                        <div class="follow lovequester">
                            <button class="btn btn-info lovequester-btn">Make LoveQuester</button>
                        </div>
                    </div>
                    {{!-- follow button --}}

                </div>

                <div class="col-md-6">
                    <div class="profile-head">
                        <h5 class="profile-name">
                        </h5>
                        <h6 class="profile-profession">
                        </h6>
                        <p class="proile-rating">Profile Rating: <span>|</span></p>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active love-details" id="home-tab" data-toggle="tab" href="#home"
                                    role="tab" aria-controls="home" aria-selected="true">About</a>
                            </li>
                            <!-- <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                        </li> -->
                        </ul>
                    </div>
                    <div class="about-section">
                        <p class="about-me" style="margin-top: 10px;"></p>
                    </div>

                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="para-name"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="para-email"></p>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Marital Status</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="para-marital"></p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
        </form>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../../assets/js/profile-page.js"></script>
</body>