<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">LOVEQUEST</a>
    <a class="navbar-brand" href="/logout">Logout</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                Search
            </button>
        </form>
    </div>
</nav>

<form class="needs-validation profile-sign-up" novalidate>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationTooltip01">First name</label>
            <input type="text" class="form-control firstname" id="validationTooltip01" placeholder="First name"
                value="Mark" required>
            <div class="valid-tooltip">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationTooltip02">Last name</label>
            <input type="text" class="form-control lastname" id="validationTooltip02" placeholder="Last name"
                value="Otto" required>
            <div class="valid-tooltip">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationTooltipUsername">Email</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                </div>
                <input type="text" class="form-control email" id="validationTooltipUsername" placeholder="Email"
                    aria-describedby="validationTooltipUsernamePrepend" required>
                <div class="invalid-tooltip">
                    Please choose a unique and valid email.
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationTooltip03">City</label>
            <input type="text" class="form-control" id="validationTooltip03" placeholder="City" required>
            <div class="invalid-tooltip">
                Please provide a valid city.
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationTooltip04">State</label>
            <input type="text" class="form-control" id="validationTooltip04" placeholder="State" required>
            <div class="invalid-tooltip">
                Please provide a valid state.
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationTooltip05">Zip</label>
            <input type="text" class="form-control" id="validationTooltip05" placeholder="Zip" required>
            <div class="invalid-tooltip">
                Please provide a valid zip.
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationTooltip01">Birthday</label>
            <input type="text" class="form-control birthday" id="validationTooltip01" placeholder="Month/Day" required>
            <div class="valid-tooltip">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationTooltip02">Sex</label>
            <input type="text" class="form-control sex" id="validationTooltip02" placeholder="Sex" required>
            <div class="valid-tooltip">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationTooltipUsername">Interests</label>
            <div class="input-group">
                <input type="text" class="form-control interests" id="validationTooltipUsername" placeholder="Interests"
                    aria-describedby="validationTooltipUsernamePrepend" required>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationTooltip01">Marital Status</label>
            <input type="text" class="form-control marital-status" id="validationTooltip01" placeholder="Marital Status"
                required>
            <div class="valid-tooltip">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationTooltip02">Height</label>
            <input type="text" class="form-control height" id="validationTooltip02" placeholder="Height" required>
            <div class="valid-tooltip">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationTooltipUsername">Has Kids</label>
            <div class="input-group">
                <input type="text" class="form-control has-kids" id="validationTooltipUsername" placeholder="Has Kids"
                    aria-describedby="validationTooltipUsernamePrepend" required>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationTooltip01">Wants Kids</label>
            <input type="text" class="form-control wants-kids" id="validationTooltip01" placeholder="Wants Kids"
                required>
            <div class="valid-tooltip">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationTooltip02">Education</label>
            <input type="text" class="form-control education" id="validationTooltip02" placeholder="Education" required>
            <div class="valid-tooltip">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationTooltipUsername">Smoker</label>
            <div class="input-group">
                <input type="text" class="form-control smoker" id="validationTooltipUsername" placeholder="Smoker"
                    aria-describedby="validationTooltipUsernamePrepend" required>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationTooltip01">Drinker</label>
            <input type="text" class="form-control drinker" id="validationTooltip01" placeholder="Drinker" required>
            <div class="valid-tooltip">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationTooltip02">Ethnicity</label>
            <input type="text" class="form-control ethnicity" id="validationTooltip02" placeholder="Ethnicity" required>
            <div class="valid-tooltip">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationTooltipUsername">Religion</label>
            <div class="input-group">
                <input type="text" class="form-control religion" id="validationTooltipUsername" placeholder="Religion"
                    aria-describedby="validationTooltipUsernamePrepend" required>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationTooltip01">Body Type</label>
            <input type="text" class="form-control body-type" id="validationTooltip01" placeholder="Body Type" required>
            <div class="valid-tooltip">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationTooltip02">Occupation</label>
            <input type="text" class="form-control occupation" id="validationTooltip02" placeholder="Occupation"
                required>
            <div class="valid-tooltip">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationTooltipUsername">Annual Income</label>
            <div class="input-group">
                <input type="text" class="form-control annual-income" id="validationTooltipUsername"
                    placeholder="Annual Income" aria-describedby="validationTooltipUsernamePrepend" required>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12 mb-12">
            <label for="validationTooltip01">About Me</label>
            <input type="text" class="form-control about-me" id="validationTooltip01" placeholder="About Me" required>
            <div class="valid-tooltip">
                Looks good!
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
</form>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script src="../../assets/js/profile-signup.js"></script>