<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
        integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <title>Home</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg transparent navbar-collapse navbar-dark bg-dark">
        <a class="navbar-brand logo" href="#">
            <img src="/assets/css/lovequestlogo.png" width="60" height="40"> LoveQuest
        </a>

    </nav>

    <div class="container">
        <div class="row profileSign">

            <div class="col-lg-12">
                <h1 class="justify-content-center">Profile Sign Up</h1>
            </div>

            <div class="col-lg-12 col-md-10 col-sm-10 justify-content-center">

                <div class="card-body">
                    <form action="/profile-signup" method="POST" id="profile-signup"
                        class="profile-sign-up pure-form pure-form-stacked">


                        <div class="row">

                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="firstname">FIRST NAME</label>
                                    <input type="text" id="firstname" class="firstname">
                                </div>
                                <div class="firstname-valid"></div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="lastname">LAST NAME</label>
                                    <input type="text" id="lastname" class="lastname">
                                </div>
                                <div class="lastname-valid"></div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="email">EMAIL</label>
                                    <input type="text" id="email" class="email">
                                    <div class="email-valid"></div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="cIty">CITY</label>
                                    <input type="text" id="city" class="city">
                                </div>
                                <div class="city-valid"></div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="city-valid"></div>
                                <div class="form-group">
                                    <label for="state">STATE</label>
                                    <input type="text" id="state" class="state">
                                </div>
                                <div class="state-valid"></div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="zipcode">zip</label>
                                    <input type="text" id="zipcode" class="zipcode">
                                </div>
                                <div class="zipcode-valid"></div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-5 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="birthday">BIRTHDAY</label>
                                    <input type="date" id="birthday" class="birthday" value="" min="1920-01-01">
                                </div>

                            </div>
                            <div class="col-lg-5 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="marital status">MARITAL STATUS</label>
                                    <input list="marital-status" class="marital-status">
                                    <datalist id="marital-status" class="marital-status">
                                        <option value="Single">
                                        <option value="Separated">
                                        <option value="Divorced">
                                        <option value="Widowed">
                                    </datalist>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <label for="sex">I'M</label>
                                <input list="sex" class="sex">
                                <datalist id="sex" class="sex">
                                    <option value="MAN">
                                    <option value="WOMAN">
                                </datalist>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <label for="desire">LOOKING FOR</label>
                                <input list="desire" class="desire">
                                <datalist id="desire" class="desire">
                                    <option value="MAN">
                                    <option value="WOMAN">
                                </datalist>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <label for="height">HEIGHT</label>
                                <input type="text" id="HEIGHT" class="height">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <label for="education">EDUCATION</label>
                                <input list="education" class='education'>
                                <datalist id="education" class="education">
                                    <option value="University/college">
                                    <option value="High School">
                                    <option value="Technical/vocation">
                                    <option value="Did not complete high school">
                                    <option value="No formal qualification">
                                </datalist>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <label for="occupation">OCCUPATION</label>
                                <input type="text" id="occupation" class="occupation">
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <label for="annual-income">ANNUAL INCOME</label>
                                <input list="annual-income" class="annual-income">
                                <datalist id="annual-income" class="annual-income">
                                    <option value="20000">
                                    <option value="40000">
                                    <option value="60000">
                                    <option value="80000">
                                    <option value="100000">
                                    <option value="150000">
                                    <option value="200000">
                                    <option value="250000">
                                </datalist>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <label for="religion">RELIGION</label>
                                <input list="religion" class="religion">
                                <datalist id="religion" class="religion">
                                    <option value="Christian">
                                    <option value="Muslim">
                                    <option value="Hindu">
                                    <option value="Jewish">
                                    <option value="Buddhist">
                                    <option value="Scientology">
                                    <option value="Spiritual but not religious">
                                    <option value="Neiher religiousnor spiritual">
                                    <option value="Other">
                                    <option value="Prefer not to say">
                                </datalist>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <label for="ethnicity">ETHNICITY</label>
                                <input list="ethnicity" class="ethnicity">
                                <datalist id="ethnicity" class="ethnicity">
                                    <option value="White / caucasion">
                                    <option value="Black / african descent">
                                    <option value="Hispanic or latino">
                                    <option value="Asian / pacific descent">
                                    <option value="Indian">
                                    <option value="Arabic / Middle Eastern">
                                    <option value="Native American">
                                    <option value="Other">
                                    <option value="Prefer not say">
                                </datalist>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <label for="body_type">BODY TYPE</label>
                                <input list="body-type" class="body-type">
                                <datalist id="body-type" class="body-type">
                                    <option value="Skinny">
                                    <option value="Athletic">
                                    <option value="Average">
                                    <option value="Chubby">
                                    <option value="Prefer not say">
                                </datalist>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <label for="has_kids">HAS KIDS</label>
                                <input list="has-kids" class="has-kids">
                                <datalist id="has-kids" class="has-kids">
                                    <option value="Yes">
                                    <option value="No">
                                </datalist>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <label for="wants_kids">WANTS KIDS</label>
                                <input list="wants-kids" class="wants-kids">
                                <datalist id="wants-kids" class="has-kids">
                                    <option value="Yes">
                                    <option value="No">
                                </datalist>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <label for="drink">DRINK</label>
                                <input list="drinker" class="drinker">
                                <datalist id="drinker" class="drinker">
                                    <option value="Yes">
                                    <option value="No">
                                    <option value="Occasionally">
                                </datalist>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <label for="smoke">SMOKE</label>
                                <input list="smoker" class="smoker">
                                <datalist id="smoker" class="smoker">
                                    <option value="Yes">
                                    <option value="No">
                                </datalist>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <label for="about-me">ABOUT ME</label>
                                <textarea id="about-me" class="about-me" rows="5" cols="40"> </textarea>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <label for="interest">INTERESTS</label>
                                <textarea type="text" id="interest" class="interests" rows="5" cols="40"></textarea>
                            </div>

                            <input class="completeSignup" type="submit" value="Make Profile">

                        </div>


                        {{!-- <label for="picture">PICTURE</label>
                        <input type="file" accept="image/*" class="picture" placeholder="picture"> --}}



                    </form>

                    <form class="finish">
                        <label for="picture">Picture</label>
                        <input class="completeSignup picture" type="file">


                        <input class="completeSignup" type="submit" value="Complete Sign Up">


                    </form>

                </div>

            </div>

        </div>
    </div>
</body>





<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../../assets/js/profile-signup.js"></script>