<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">LOVEQUEST</a>
    <a class="navbar-brand" href="/logout">Logout</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                Search
            </button>
        </form>
    </div>
</nav>

<h1>Profile Sign Up</h1>

<form action="/profile-signup" method="POST" id="profile-signup" class="profile-sign-up">
    <label for="firstname">FIRST NAME</label>
    <input type="text" id="firstname" class="firstname">
    <div class="firstname-valid"></div>
    <label for="lastname">LAST NAME</label>
    <input type="text" id="lastname" class="lastname">
    <div class="lastname-valid"></div>
    <label for="email">EMAIL</label>
    <input type="text" id="email" class="email">
    <div class="email-valid"></div>


    <br><br>

    <label for="cIty">CITY</label>
    <input type="text" id="city" class="city">
    <div class="city-valid"></div>

    <label for="state">STATE</label>
    <input type="text" id="country" class="country">
    <div class="state-valid"></div>

    <label for="zipcode">zip</label>
    <input type="text" id="zipcode" class="zipcode">
    <div class="zipcode-valid"></div>

    <br><br>


    <label for="birthday">BIRTHDAY</label>
    <input type="date" id="birthday" class="birthday" value="" min="1920-01-01">


    <label for="marital status">MARITAL STATUS</label>
    <input list="marital-status" class="marital-status">
    <datalist id="marital-status" class="marital-status">
        <option value="Single">
        <option value="Separated">
        <option value="Divorced">
        <option value="Widowed">
    </datalist>
    <br><br>

    <label for="sex">I'M</label>
    <input list="sex" class="sex">
    <datalist id="sex" class="sex">
        <option value="MAN">
        <option value="WOMAN">
    </datalist>

    <label for="desire">LOOKING FOR</label>
    <input list="desire" class="desire">
    <datalist id="desire" class="desire">
        <option value="MAN">
        <option value="WOMAN">
    </datalist>
    <br><br>

    <label for="height">HEIGHT</label>
    <input type="text" id="HEIGHT" class="height">



    <label for="education">EDUCATION</label>
    <input list="education" class='education'>
    <datalist id="education" class="education">
        <option value="University/college">
        <option value="High School">
        <option value="Technical/vocation">
        <option value="Did not complete high school">
        <option value="No formal qualification">
    </datalist>
    <br><br>


    <label for="occupation">OCCUPATION</label>
    <input type="text" id="occupation" class="occupation">



    <label for="annual-income">ANNUAL INCOME</label>
    <input list="annual-income" class="annual-income">
    <datalist id="annual-income" class="annual-income">

        <option value="Up to 20,000">
        <option value="20,000 to 40,000">
        <option value="40,000 to 60,000">
        <option value="60,000 to 80,000">
        <option value="80,000 to 100,000">
        <option value="100,000 to 150,000">
        <option value="150,000 to 250,000">
        <option value="over 250,000">

    </datalist>
    <br><br>

    <label for="religion">RELIGION</label>
    <input list="religion" class="religion">
    <datalist id="religion" class="religion">
        <option value="Christian">
        <option value="Muslim">
        <option value="Hindu">
        <option value="Jewish">
        <option value="Buddhist">
        <option value="Scientology">
        <option value="Spiritual but not religious">
        <option value="Neiher religiousnor spiritual">
        <option value="Other">
        <option value="Perfer not say">
    </datalist>


    <label for="ethnicity">ETHNICITY</label>
    <input list="ethnicity" class="ethnicity">
    <datalist id="ethnicity" class="ethnicity">
        <option value="White / caucasion">
        <option value="Black / african descent">
        <option value="Hispanic or latino">
        <option value="Asian / pacific descent">
        <option value="Indian">
        <option value="Arabic / Middle Eastern">
        <option value="Native American">
        <option value="Other">
        <option value="Perfer not say">
    </datalist>
    <br><br>

    <label for="body_type">BODY TYPE</label>
    <input list="body-type" class="body-type">
    <datalist id="body-type" class="body-type">
        <option value="Skinny">
        <option value="Athletic">
        <option value="Average">
        <option value="Chubby">
        <option value="Perfer not say">
    </datalist>

    <label for="interest">INTEREST</label>
    <input type="text" id="interest" class="interests">
    <br><br>


    <label for="has_kids">HAS KIDS</label>
    <input list="has-kids" class="has-kids">
    <datalist id="has-kids" class="has-kids">
        <option value="Yes">
        <option value="No">
    </datalist>

    <label for="wants_kids">WANTS KIDS</label>
    <input list="wants-kids" class="wants-kids">
    <datalist id="wants-kids" class="has-kids">
        <option value="Yes">
        <option value="No">
    </datalist>

    <br><br>


    <label for="drink">DRINK</label>
    <input list="drinker" class="drinker">
    <datalist id="drinker" class="drinker">
        <option value="Yes">
        <option value="No">
        <option value="Occasionally">
    </datalist>

    <label for="smoke">SMOKE</label>
    <input list="smoker" class="smoker">
    <datalist id="smoker" class="smoker">
        <option value="Yes">
        <option value="No">
    </datalist>

    <br><br>

    <label for="about_me">ABOUT ME</label>
    <br><br>

    <textarea id="about-me" class="about-me" rows="5" cols="50"> </textarea>

    <label for="picture">PICTURE</label>
    <input type="file" accept="image/*" class="picture" placeholder="picture">
    <br><br>

    <input type="submit" value="Sign Up">
</form>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script src="../../assets/js/profile-signup.js"></script>
