<div class="container">
    <div class="jumbotron">
      <h1>Love Quest - Search Segment Demo</h1>
      <h3>In development phase...</h3>
      <hr>
      <a href="/add" class="btn btn-danger btn-lg">
        <span class="fa fa-plus"></span> Add a new LoveQuester</a>
      <a href="/all" class="btn btn-danger btn-lg">
        <span class="fa fa-th-list"></span> View all LoveQuesters !</a>
    </div>
    <div class="row">

      <div class="col-lg-12">

        <div class="card mb-4">
          <div class="card-header">
            Search for LoveQuesters near my zipcode
          </div>
          <div class="card-body">
            <input type="text" id="character-search" class="form-control">
            <br>
            <div class="text-right">
              <button type="submit" class="btn btn-primary btn-md" id="search-btn">
                <span class="fa fa-search"></span> Find my forever LoveQuester !</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-12">

        <div class="card">
          <div class="card-header">
            LoveQuester Details
          </div>
          <div class="card-body" id="well-section">
            <!-- Content will go in here -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Custom Script -->
  <script src="/assets/js/view.js" type="text/javascript"></script>