<div class="banner-area">
    <div class="wrapper">
        <div class="navigation">
            <div class="logo">
                Love Quest
            </div>
            <nav>
                <a href="#">Home</a>
                <a href="#">Login</a>
                <a href="#">Sign Up</a>
                <a href="#">Services</a>
                <a href="#">Contact Us</a>
            </nav>
        </div>

        <div class="banner-text">
            <div class="text-area">
                <h2>Love-Quest</h2>
                <h3>Find my forever Love-Quester ™</h3>
                <p>Is there a Love-Quester near me ? Find out !</p>

                
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card mb-4">
                                <div class="card-header">
                                    Search for LoveQuesters near my zipcode
                                </div>
                                <div class="card-body">
                                    <input type="text" id="character-search" class="form-control">
                                    <br>
                                    <div class="text-right">
                                        {{!-- <button type="submit" class="btn btn-primary btn-md" id="search-btn">
                                        <span class="fa fa-search"></span> Find my forever LoveQuester !</button> --}}
                                        <a href="/profiles" class="btn btn-primary btn-md" id="search-btn">
                                            <span class="fa fa-th-list"></span> Find my forever LoveQuester !</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                

            </div>
        </div>
    </div>
</div>