.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 2px;
  left: 20px;
  bottom: 60px;
}

body {
  background-image: url("../css/home2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  left: 20px;
}

html {
  overflow-y: scroll;
}

label {
  color: white;
}
h1 {
  color: white;
}
.slogan {
  color: whitesmoke;
  text-align: center;
  top: 60px;
  position: relative;
}

.buttonForms {
  color: black;
  background-color: #598ad2;
  border: none;
  border-radius: 12px;
}

.login-button {
  color: whitesmoke;
  text-align: center;
  background-color: #598ad2;
  border: none;
  border-radius: 12px;
  width: 100%;
}

.signup-button {
  color: whitesmoke;
  text-align: center;
  background-color: #598ad2;
  border: none;
  border-radius: 12px;
  width: 100%;
}

.profileSign {
  background-color: #598ad2;
  border-radius: 12px;
  margin: 5px;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 10px 0;
  overflow: scroll;
  left: 15px;
}

.signupSubmit {
  background-color: #aebecf;
  color: white;
  border: none;
  border-radius: 12px;
}
.completeSignup {
  text-align: center;
  background-color: #aebecf;
  color: white;
  border: none;
  border-radius: 12px;
}
#loveQuest {
  color: whitesmoke;
}

#map {
  height: 800px;
  width: 100%;
  top: 50px;
  position: relative;
}

.emp-profile {
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #598ad2;
  top: 25px;
  color: white;
}

.search-button {
  border: none;
  border-radius: 12px;
  color: white;
  text-align: center;
  background-color: #aebecf;
}

.love-details {
  text-align: center;
  background-color: #aebecf;
  color: white;
}

.profile-edit-btn{
  text-align: center;
  background-color: #aebecf;
  color: white;
  border: none;
  border-radius: 12px;
  top: 40px;
  
}

.questDetails {
  top:20px;
}

.infoBox {
  top:20px;
  border-style: solid;
  border-color: white;
  border: 2px;
}

.parameterSearch{
  top: 20px;
  position: relative;

}

.chatFunction {
  position: relative;
  align-items: center;
  justify-content: center;
  top: 150px;
  color: white;
  border: none;
  border-radius: 12px;
  left: 20px;
  
}

.sendContact {
  text-align: center;
  background-color: #aebecf;
  color: white;
  border: none;
  border-radius: 12px;
}