/* search page  */


/* The animation code */

@keyframes example {
    0% {
        top: 0px;
        left: 0px;
        background: #4169E1;
    }
    50% {
        top: 0px;
        left: 0px;
        background: #1E90FF;
    }
    100% {
        top: 0px;
        left: 0px;
        background: #4169E1;
    }
}


/* The element to apply the animation to */

body {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}

.logo {
    width: 20%;
    float: left;
    padding: 30px 0 0;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}

nav {
    width: 75%;
    float: right;
    text-align: right;
    padding: 30px 0 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 15px 20px;
}

.navigation {
    height: 60px;
}

.banner-area {
    animation-name: animate;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    height: 100vh;
}

.text-area {
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

.text-area h2 {
    font-size: 75px;
    color: #fff;
    margin: 10% 0 0;
}

.text-area h3 {
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 15px;
    font-size: 35px;
}

.text-area a {
    text-decoration: none;
    background: #262626;
    color: #fff;
    padding: 15px 60px;
    font-size: 18px;
    display: inline-block;
    margin-top: 5%;
    border-radius: 50px;
}

.text-area p {
    font-size: 18px;
    color: #fff;
    width: 70%;
    margin: 0 auto;
    line-height: 1.9;
}


/* account page  */

.emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}

.profile-img {
    text-align: center;
}

.profile-img img {
    width: 70%;
    height: 100%;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head h5 {
    color: #333;
}

.profile-head h6 {
    color: #0062cc;
}

.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.proile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}

.proile-rating span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}

.profile-head .nav-tabs {
    margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
}

.profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #0062cc;
}

.profile-work {
    padding: 14%;
    margin-top: -15%;
}

.profile-work p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}

.profile-work a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}

.profile-work ul {
    list-style: none;
}

.profile-tab label {
    font-weight: 600;
}

.profile-tab p {
    font-weight: 600;
    color: #0062cc;
}


/* homepage */

.content,
.outer-border {
    width: 100%;
    height: 150px;
    text-align: justify;
    background-color: whitesmoke;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.outer-border {
    border: 2px solid black;
    position: relative;
    overflow: hidden;
}

.inner-border {
    position: absolute;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.inner-border::-webkit-scrollbar {
    display: none;
}


/* homepage tab navigate */

.emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}

.profile-img {
    text-align: center;
}

.profile-img img {
    width: 70%;
    height: 100%;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head h5 {
    color: #333;
}

.profile-head h6 {
    color: #0062cc;
}

.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.proile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}

.proile-rating span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}

.profile-head .nav-tabs {
    margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
}

.profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #0062cc;
}

.profile-work {
    padding: 14%;
    margin-top: -15%;
}

.profile-work p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}

.profile-work a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}

.profile-work ul {
    list-style: none;
}

.profile-tab label {
    font-weight: 600;
}

.profile-tab p {
    font-weight: 600;
    color: #0062cc;
}



/* chat styling */
{box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
